@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.kontak
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../gambar/WhatsApp\ Image\ 2021-12-02\ at\ 1.10.47\ PM.jpeg');
    background-size: cover;
}

.kontak .konten
{
    max-width: 800px;
    text-align: center;
}
.kontak .konten h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.kontak .konten p
{
    font-weight: 300;
    color: #fff;
}
.kontener
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.kontener .kontakinfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.kontener .kontakinfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.kontener .kontakinfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.kontener .kontakinfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#fff;
    flex-direction: column;
    font-weight: 300;
}
.kontener .kontakinfo .box .text h3
{
    font-weight: 500;
    color:#00bcd4;
}
.formkontak
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.formkontak h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.formkontak .inputbox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.formkontak .inputbox input,
.formkontak .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none
}
.formkontak .inputbox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.formkontak .inputbox input:focus ~ span,
.formkontak .inputbox input:valid ~ span,
.formkontak .inputbox textarea:focus ~ span,
.formkontak .inputbox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.formkontak .inputbox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media  (max-width: 991px)
{
    .kontak
    {
        padding: 50px;
    }
    .kontener
    {
        flex-direction: column;
    }
    .kontener .kontakinfo
    {
        margin-bottom: 40px;
    }
    .kontener .kontakinfo,
    .formkontak
    {
        width:100%;
    }
}